body {
    margin: 0;
    background: #0f1115;
    color: #e5e7eb;
    font-family: Inter, sans-serif;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search {
    background: #1a1d24;
    border: 1px solid #2a2f3a;
    padding: 10px;
    border-radius: 8px;
    width: 260px;
    color: white;
}

/* CARDS ROW */
.cards {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.asset-card {
    background: #1a1d24;
    border: 1px solid #2a2f3a;
    border-radius: 12px;
    padding: 15px;
    width: 200px;
}

.asset-card canvas {
    height: 50px !important;
}

.price {
    font-size: 18px;
    margin: 5px 0;
}

.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

/* GENERAL CARD */
.card {
    background: #1a1d24;
    border: 1px solid #2a2f3a;
    border-radius: 12px;
    padding: 20px;
}

/* BLUE CARD */
.blue-card {
    background: linear-gradient(135deg, #2563eb, #1d4ed8);
    color: white;
}

/* BALANCE */
.big-balance {
    font-size: 28px;
    font-weight: 700;
}

/* TITLES */
.card-title {
    margin-bottom: 10px;
    font-weight: 600;
}

/* PORTFOLIO LIST */
#cryptoTable div {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #2a2f3a;
}
